* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.76);
}

.body {
    justify-content: space-around;
}

header {
    width: 100%;
    height: 100vh;
    background: url(frites/you.jpg) no-repeat center/cover;
}

.nos-plat {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.logo {
    position: relative;
    top: 15px;
    height: 100px;
    width: 100px;
    left: 100px;

}

nav li {
    display: inline-block;
    margin-right: 50px;
    margin-top: 50px;
}

nav li a {
    color: rgb(255, 254, 251);
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap
}

.slogant {
    display: flex;
    flex-wrap: wrap;
    font-size: 4em;
    width: 90%;
    height: 2%;
    text-align: center;
    color: rgb(247, 168, 12);
    position: relative;
    left: 10vh;
    top: 15vh;
}

.couleur {
    transition: color.3s;
}

.couleur:hover,
.couleur.active {
    color: red;

}

.slogant2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
    width: 90%;
    height: 100px;
    text-align: center;
    color:rgb(247, 168, 12);
    position: relative;
    left: 10vh;
    top: 40vh;
}

.barre-de-Recherche {
    position: relative;
    bottom: 500px;
    left: 35%;
}

.barre-de-Recherche {
    width: 400px;
    height: 45px;
    border-radius: 15px;
    background-color: rgba(248, 242, 242, 0.692);
    font-size: 15px;
    padding: 10px;
    border: none;
}

.plats {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.nos-plat {
    font-size: 40px;
}


  


.image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    width: 50vh;
    height: 50vh;
    margin-left: 8.1vh;
    border-width: 0.9vh;
    background-color: rgb(255, 255, 255);
    padding: 5vh;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    box-shadow: 0px 0px 5px;
}

.comentaire {
    width: 50vh;
    height: 18vh;
    text-align: center;
    background-color: #F5EDCB;
    margin-left: 8vh;
    box-shadow: 0px 0px 5px;
}

.prix {
    color: rgb(218, 24, 24);
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    top: 5vh;
}

.titre {
    color: rgb(12, 3, 0);
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
    top: 5vh;
}

.botton button {
    background-color: #B68B17;
    color: white;
    width: 20vh;
    height: 7vh;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 1vh;
    box-shadow: 0px 0px 5px;
    position: relative;
    bottom: 4vh;
    left: 40vh;
}

.voir-plus {
    position: relative;
    left: 30vh;
    background-color: red;
}

.commentair {
    background-color: #E4DEDE;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.div {  
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    color: black;

}


/* avie des client */
.photo1 {
    width: 12vh;
    height: 12vh;
    position: relative;
    top: 3vh;
    left: 2.5vh;
}

/* dire des clients */
.dire {
    width: 50vh;
    height: 10vh;
    position: relative;
    top: 4vh;
    left: 2vh;
    
}

.mot {
    position: relative;
    bottom: 13vh;
    left: 14vh;
}

/* nom et date */
.nom {
    font-size: 1em;
    font-weight: bold;
    position: relative;
    top: 2vh;
    left: 1.2vh;
}

.date {
    font-size: 1em;
    font-weight: bold;
    position: relative;
    top: 4vh;
    left: 37vh;
}

/* avis */

.avis {
    background-color: rgb(250, 250, 253);
    width: 70vh;
    height: 20.4vh;
    margin: 10vh;
    border-radius: 2vh;
}

.formulai{ 
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
 
.formule {
    background-color: rgb(255, 255, 254);
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
/* coordonnee du client */

.forme{
    
    position: relative;
    bottom: 5vh;  
    right: vh;
    justify-content: space-between;
    margin: 2vh;
}

label{
    font-size: 2em;
    position: relative;
    display: flex;
    left: 10vh;
    color: black;

    
}

input{
    display: flex;
    width: 70vh;
    height: 7vh;
    position: relative;
    left: 10vh;
    background-color: #67656569;
    color: white;
    font-size: 1.5em;
}

.addresse{
    position: relative;
    bottom: vh;
    left: 40vh;
}

h2{
    color: red;
    top: 7vh;
    text-decoration: underline;
    padding: 4vh;
}

p{
    color: black;
    left: 10vh;
    font-weight: bold;
    font-size: 4vh;

}

a{
    color: black;
    text-decoration: none;
    position: relative;
    top: vh;
    font-weight: bold;
    left: 3vh;
    font-size: 4vh;
}

.envoyer button{
    position:relative;
    bottom: 20VH;
    left: 60vh;
    font-size: 20px;
    width: 20vh;
    height: 7vh;
    border-radius: 2vh;
    border: none;
    background-color: #fa0101;
    color: white;
}

/* reseau sociau */

.localisation{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.reseau{
    display:flex;
    width:50vh ;
    position: relative;
    bottom: 70vh;
    left: 80vh;
}

/* apropos de nous */

.apropos-de-nous{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}



