* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.76);
}
   
:root{
    --color-first:#1ec36dd9;
    --color-second:#f0f0f0;
    --color-white:#fff;
    --color-success:#2ecc71;
    --color-error:#e74c3c;
}

.body {
    display: block;
    flex-wrap: wrap;

}

h2{
    color: black;
    text-align: center;
    font-size: 2em;
}


.logo img {
    position: relative;
    left: 1vh;
    height: 70px;
    width: 70px;
  

}

header {
    width: 100%;
    height: 100vh;
    background: url(frites/you.jpg) no-repeat center/cover;
    color: #B68B17;
    text-align: center;
}

header nav{
    
    justify-content: space-between ;
    padding: 20px;
}

header nav a{
    color:#ffffff;
    text-decoration: none;
    margin-right: 10px;
    transition: color.3s;
    font-size: 1em;
    flex-wrap:wrap;
  
    
}

.top-bar{
    margin-top: 20px;
}

.headers{
    display: flex;
    height: 100px;
    background-color: rgb(77, 74, 74);
    border-bottom: 1px solid var(--color-second);
    padding: 20px 40px;
    
}




header.principale{
    position: relative;
    top: 90px;
   
} 

header .principale h3{
   
    padding: 50px;
    font-size: 2em;
    color: rgb(231, 127, 9);
}

header .principale h1{
     font-size: 3em;
    padding: 90px 10px 20px 0%;
    text-shadow: -1px 1px 2px rgb(10, 9, 9);
    animation: titre ease 5s;
    color: rgb(230, 215, 14);
    font-weight: bold;
}

.barre-de-Recherche {
    position: relative;
    
}


  
.barre-de-Recherche input{
    width: 100px;
    height: 45px;
    border-radius: 15px;
    background-color: rgba(252, 248, 248, 0.692);
    border: none;
}


/* *********************body************************** */

.plats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #e2c8a4;
}

.food img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    width: 50vh;
    height: 50vh;
    margin-left: 8.1vh;
    border-width: 0.9vh;
    background-color: rgb(255, 255, 255);
    padding: 2vh;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    box-shadow: 0px 0px 3px;
}

.comentaire {
    width: 50vh;
    height: 18vh;
    text-align: center;
    background-color: #F5EDCB;
    margin-left: 8vh;
    box-shadow: 0px 0px 5px;
}


.food button {
    padding: 15px 45px;
    color: white;
    background: transparent;
    font-size: 1em;
    font-weight: bold;
    border: 0;
    border-radius: 1vh;
    overflow: hidden;
    box-shadow: 0px 0px 5px;
    position: relative;
    bottom: 2vh;
    left: 40vh;
    cursor: pointer;
}

.food button::after{
    content: '';
    background: linear-gradient(225deg, #fcd915 0%,  #fcd915 50%, #fcd915 100%);
    position: absolute;
    width: 400px;
    height: 400px;
    top: -50px;
    left: -100px;
    z-index:-1;
    transition: all .2s;
}

.food button:hover::after{
    transform: rotate(150deg);
}

.food button:hover{
    transform: translate(0, -6px);
}

/* *************************boutton-voir-plus******************************************** */

.voir-plus button {
    position: relative;
    padding: 15px 30px;
    border-radius: 30px;
    color:rgb(252, 249, 249);
    background: transparent;
    border: 0;
    overflow: hidden;
    left: 80vh;
    cursor: pointer;
    font-size: 1.2em;
    box-shadow: 0px -0px 0px 0px rgba(106, 10, 233, 0.5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
    transition: all .6s;
}

.voir-plus button::after{
    content: '';
    background: linear-gradient(225deg, #fd0404 0%, #fd2904 50%, #f70303 100%);
    position: absolute;
    width: 400px;
    height: 400px;
    top: -50px;
    left: -100px;
    z-index:-1;
    transition: all .2s;
}

.voir-plus button:hover::after{
    transform: rotate(150deg);
}

.voir-plus button:hover{
    transform: translate(0, -6px);
}

.voir-plus a{
    text-decoration: none;
    color: white;
}

/* *************************avis***************************** */


.commentair {
    background-color: #E4DEDE;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main h2{
    color: rgb(8, 8, 8);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 2em;
}





.avis img{
    width: 12vh;
    height: 12vh;
    position: relative;
    top: 3vh;
    left: 2.5vh;
}

.dire {
    width: 50vh;
    height: 10vh;
    position: relative;
    top: 4vh;
    left: 2vh;
    
}

.mot {
    position: relative;
    bottom: 13vh;
    left: 13vh;
}


.nom {
    font-size: 1em;
    font-weight: bold;
    position: relative;
    top: 2vh;
    left: 1.2vh;
}

.date {
    font-size: 1em;
    font-weight: bold;
    position: relative;
    top: 8vh;
    left: 19vh;
}



.avis {
    background-color: rgb(250, 250, 253);
    width: 50vh;
    height: 24vh;
    margin: 5vh;
    border-radius: 2vh;
    margin-right:100px ;
}

*{
    box-sizing: border-box;
}
 





.formule {
    background:var(--color-first);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: "Open sabs" sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    
}
.containers{
    background: var(--color-white);
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,.5);
    width: 400px;
    max-width: 100%;
}

.header{
    background: #f7f7f7;
    border-bottom: 1px solid var(--color-second);
    padding: 20px 40px;
}

.header h2{
    margin: 0;
    text-align: center;
    font-style: italic;
}

form{
    padding: 30px;
}


.form-controle{
    margin-top: 10px;
    padding-bottom: 20px;
    position: relative;
}


.form-controle label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-controle input{
    border:2px solid var( --color-second);
    border-radius: 4px;
    display: block;
        font-family: inherit;
        font-size: 14px;
        width: 300px;
        height: 40px;
        padding-left: 10px;

}

.form-controle i{
    position: absolute;
    top: 33px;
    right: 10px;
    visibility: hidden;
}

.form-controle small{
    position: absolute;
    bottom: 0;
    left: 0;    
    visibility: hidden;
}


.form button{
    background: var(--color-first);
    border: 2px solid var(--color-first);
    color: var(--color-white);
    display: block;
    font-family: inherit;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

.form-controle.success input{
    border-color: var(--color-success);
}

.form-controle.error input{
    border-color: var(--color-error);
}


.form-controle.success i.fa-check-circle{
    color: var(--color-success);
    visibility: visible;

}

.form-controle.error i.fa-exclamation{
    color: var(--color-error);
    visibility: visible;
}

.form-controle .error small{
    color: var(--color-error);
    visibility: visible;
}


textarea {
    display: flex;
    width: 70vh;
    height: 7vh;
    position: relative;
    left: 10vh;
    background-color: #67656569;
    color: white;
    font-size: 1.5em;
}

.addresse h2{
    color: rgb(241, 7, 7);
    position: relative;
    text-decoration: underline;
}

.addresse h3{
    color: rgb(253, 6, 6);
    top: 7vh;
    text-decoration: underline;
    padding: 4vh;
    font-size: 1.5em;
}


main
.addresse h3 {
    text-decoration: none;
}
.addresse a{
    text-decoration: none;
}


p{
    position: relative;
    color: rgb(255, 255, 255);
    left: 5vh;
    font-weight: bold;
    font-size: 1em;

}





/* reseau sociau */

.localisation{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.reseau{
    display:flex;
    position: relative;
 

}
.reseau img{
    width: 10vh;
}

/* apropos de nous */


footer{
    background-color: #00030869;
    padding: 10px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

ul{
    list-style: none;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-top: 30px;
    font-family: 'PT Serif', serif;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #fdfcfc;
    display: block;
    transition:all 0.3s  ease
}

.footer-col ul li a:hover{
    color:#ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display:inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(253, 250, 250);
    margin-right: 10px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height:40px;
    border-radius: 50%;
}